<link rel="stylesheet" href="/css/tienda/editar.css">



<div id="tienda-editar-container">
    <div class="box">
        <h2>Editar tienda</h2>
        {{#each lista}}
        <form action="/tienda/editar/{{id_tienda}}" method="post" id="contenedor">
            <div class="">
                <input name="nombre_tienda" value="{{nombre_tienda}}" type="text" id="negocio"
                    placeholder="Nombre del Negocio">
                <br>
                <br>
                <input name="ruc_tienda" value="{{ruc_tienda}}" type="number" id="ruc" placeholder="No. de Ruc">
                <br>
                <br>
                <input name="direccion_matriz" value="{{direccion_matriz}}" type="text" id="matriz"
                    placeholder="Direccion Matriz">
                <br>
                <br>

                <input name="direccion_sucursal" value="{{direccion_sucursal}}" type="text" id="sucursal"
                    placeholder="Direccion Sucural">
                <br>
                <br>
                <input name="correo_electronico_tienda" value="{{correo_electronico_tienda}}" type="text" id="email"
                    placeholder="Correo Electronico">
                <br>
                <br>
                <input name="telefono_tienda" value="{{telefono_tienda}}" type="number" id="telefono"
                    placeholder="No. telefono">
                <br>
                <br>
            </div>
            <button id="btn" type="submit">Guardar</button>
            <button id="btn" type="submit">Cancelar</button>
    </div>
    </form>
    {{/each}}
</div>