<link rel="stylesheet" href="/css/tienda/listar.css">


<div id="tienda-listar-container">
<div class="conjunto1">
    {{#each lista}}        <h1>tienda Listar</h1>

    <div class="conjunto2">
        <p>{{nombre_tienda}}</p>
        <p>{{ruc_tienda}}</p>
        <p>{{direccion_matriz}}</p>
        <p>{{direccion_sucursal}}</p>
        <p>{{correo_electronico}}</p>
        <p>{{telefono_tienda}}</p>
        <div>
            <a href="/tienda/editar/{{id_tienda}}"><button id="btn">Editar</button></a>
            <button type="submit">Vista</button>
            <a href="/factura/agregar"><button type="button">Crear factura</button></a>
        </div>
    </div>
    {{/each}}
</div>


</div>