<link rel="stylesheet" href="/css/tienda/visualizar.css">

<div id="tienda-listar-container">
        <div class="conjunto1">
            {{#each lista}}
            <div class="conjunto2">
                
                <div class="formulario_2">
                <div class="titulos">
                    <h2>Datos del Administrador</h2>
                </div>
                <hr>
                    <div class="form-group">
                        <label for="nombres">Nombres:</label>
                        <input id="nombres" type="text" value="{{nombres_usuario}}" disabled />
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellidos:</label>
                        <input id="apellidos" type="text" value="{{apellidos_usuario}}" disabled />
                    </div>
                    <div class="form-group">
                        <label for="cedula">Cedula:</label>
                        <input id="cedula" type="text" value="{{cedula_usuario}}" disabled />
                    </div>
                    <div class="form-group">
                        <label for="celular">Celular:</label>
                        <input id="celular" type="text" value="{{celular_usuario}}" disabled />
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo Electrónico:</label>
                        <input id="correo" type="text" value="{{correo_electronico_usuario}}" disabled />
                    </div>
                </div>
            </div>
            <div class="conjunto2">
                
            <div class="formulario_2">
                <div class="titulos">
                    <h2>Datos de la Tienda</h2>
                </div>
                <hr>
                        <div class="form-group">
                            <label for="nombre-tienda">Nombre del Negocio:</label>
                            <input id="nombre-tienda" type="text" value="{{nombre_tienda}}" disabled />
                        </div>
                        <div class="form-group">
                            <label for="ruc">No. RUC:</label>
                            <input id="ruc" type="text" value="{{ruc_tienda}}" disabled />
                        </div>
                        <div class="form-group">
                            <label for="direccion-matriz">Dirección de Matriz:</label>
                            <input id="direccion-matriz" type="text" value="{{direccion_matriz}}" disabled />
                        </div>
                        <div class="form-group">
                            <label for="direccion-sucursal">Dirección Sucursal:</label>
                            <input id="direccion-sucursal" type="text" value="{{direccion_sucursal}}" disabled />
                        </div>
                        <div class="form-group">
                            <label for="correo-tienda">Correo Electrónico </label>
                            <input id="correo-tienda" type="text" value="{{correo_electronico_tienda}}" disabled />
                        </div>
                        <div class="form-group">
                            <label for="telefono-tienda">Teléfono Tienda:</label>
                            <input id="telefono-tienda" type="text" value="{{telefono_tienda}}" disabled />
                        </div>
                    </div>
                    
                </div>

                <center><a href="/tienda/listar"><button type="submit">Cancelar</button></a></center>
            {{/each}}
        </div>
    </div>