<link rel="stylesheet" href="/css/tienda/visualizar.css">


<div id="tienda-listar-container">
<div class="conjunto1">
    {{#each lista}}        

    <div class="conjunto2">
        <div class="titulos">
            <h2 >Datos del Administrador</h2>
        </div>
        <label >Nombres:</label>
        <input value="{{nombres_usuario}}" disabled></input>
        <br>
        <label>Apellidos:</label>
        <input value="{{apellidos_usuario}}" disabled></input>
        <br>
        <label> Cedula:</label>
        <input value="{{cedula_usuario}}" disabled></input>
        <br>
        <label>Celular:</label>
        <input value="{{celular_usuario}}" disabled></input>
        <br>
        <label>Correo Electronico:</label>
        <input value="{{correo_electronico_usuario}}" disabled></input>
        <div class="titulos">
            <h2>Datos de la Tienda</h2>
        </div>
        <label>Nombre del Negocio:</label>
        <input value="{{nombre_tienda}}" disabled></input>
        <br>
        <label>No. Ruc :</label>
        <input value="{{ruc_tienda}}" disabled></input>
        <br>
        <label>Dirección de Matriz :</label>
        <input value="{{direccion_matriz}}" disabled></input>
        <br>
        <label>Dirección Sucursal :</label>
        <input value="{{direccion_sucursal}}" disabled></input>
        <br>
        <label>Correo Electronico :</label>
        <input value="{{correo_electronico}}" disabled></input>
        <br>
        <label>Telefono :</label>
        <input value="{{telefono_tienda}}" disabled></input>
                <center><a href="/tienda/listar"><button id="btn" type="submit">Cancelar</button></a></center> 
    </div>
    {{/each}}
</div>
    

</div>