<link rel="stylesheet" href="/css/cliente/editar.css">
{{#each lista}}
<form action="/cliente/editar/{{id_cliente}}" method="post">


    <div id="cliente-editar-container">
          <div class="box">
        <h2>Editar Cliente</h2>

            <input type="text" id="nombre_cliente" name="nombre_cliente" value="{{nombre_cliente}}" required>

            <input type="text" id="apellido_cliente" name="apellido_cliente" value="{{apellido_cliente}}" required>

            <input type="text" id="direccion_cliente" name="direccion_cliente" value="{{direccion_cliente}}" required>

            <input type="text" id="correo_cliente" name="correo_cliente" value="{{correo_cliente}}" required>

            <input type="text" id="celular_cliente" name="celular_cliente" value="{{celular_cliente}}" required>

            <input type="text" id="cedula_cliente" name="cedula_cliente" value="{{cedula_cliente}}" required>

        <div id="boton">
            <button type="submit">Actualizar</button>
            <button type="cancelar">Cancelar</button>
        </div>

    </div>
</form>

{{/each}}