<link rel="stylesheet" href="/css/cliente/cliente.css">
{{#each lista}}
<form action="/cliente/editar/{{id_cliente}}" method="post">

    <body>


        <div id="container">
            <h2>Editar cliente</h2>

            <label id="nombre" for="nombre">Nombres</label> <br>
            <input type="text" id="nombre_cliente" name="nombre_cliente"  value="{{nombre_cliente}}" required>

            <label id="apellido" for="apellido">Apellidos</label> <br>
            <input type="text" id="apellido_cliente" name="apellido_cliente" value="{{apellido_cliente}}" required>

            <label id="direccion" for="direccion">Dirrecion</label> <br>
            <input type="text" id="direccion_cliente" name="direccion_cliente"  value="{{direccion_cliente}}" required>

            <label id="correo" for="correo">Correo</label> <br>
            <input type="text" id="correo_cliente" name="correo_cliente" value="{{correo_cliente}}"  required>

            <label id="celular" for="celular_cliente">Celular</label> <br>
            <input type="text" id="celular_cliente" name="celular_cliente" value="{{celular_cliente}}" required>

            <label id="cedula" for="cedula<">Cedula</label> <br>
            <input type="text" id="cedula_cliente" name="cedula_cliente"  value="{{cedula_cliente}}" required>


            <br> <br><br>
            <br> <br>

            <div id="boton">
                <button type="submit">Actualizar</button>
            </div>
            <div class="cancelar">
                <button type="submit">Cancelar</button>
            </div>
        </div>
        </div>
        </div>
</form>
{{/each}}

</body>