<link rel="stylesheet" href="/css/factura/agregar.css">
<script src="/script/factura/calculos.js" defer></script>
<script defer src="/script/factura/filas.js"></script>
<script src="/js/Pdf/html2pdf.bundle.min.js"></script>
<button id="btnCrearPdf" type="button">
    <i class="fas fa-file-pdf"></i>Exportar pdf
</button>

<body>
    <div id="factura-container">
        <form action="/factura/agregar/:id" method="post">
            <div id="factura-agregar-container">
                <div class="box">
                    <center>
                        <h1>Agregar Factura</h1>
                    </center>
                    <div class="imagen_ruc">
                        <div class="imagen_nombre">
                            <img src="/img/tienda_imagen.png" />
                            {{#each listaT}}
                            <div class="nombre_tienda">


                                <div>
                                    <p> Tienda </p>
                                </div>
                                <div>
                                    <input id="nombre-tienda" type="text" value="{{nombre_tienda}}" disabled />
                                </div>
                            </div>


                        </div>
                        <div id="derecha">
                            <div id="tabla-contenedor">
                                <table border="1" id="numero">
                                    <tr>
                                        <td>
                                            <h3>RUC</h3>
                                        </td>
                                        <td>
                                            <h3>{{ruc_tienda}}</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" id="nFactura">
                                            <h3>Factura </h3>
                                            <h3>NO. OO2-002-123456789</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3>AUT.SRI</h3>
                                        </td>
                                        <td>
                                            <h3>1234567890</h3>
                                        </td>
                                    </tr>
                                </table>
                            </div>


                        </div>
                    </div>

                    <div class="nombres_dueño">
                        <input id="nombres" type="text" value="{{nombres_usuario}} {{apellidos_usuario}}" disabled />
                    </div>
                    <br>
                    <hr class="linea_nombre">
                    <div class="form-group">
                        <p>Direcion matriz:
                            <input id="direccion-matriz" type="text" value="{{direccion_matriz}}" disabled />
                        </p>
                    </div>
                    <div class="form-group">
                        <p>Direcion sucursal:
                            <input id="direccion-sucursal" type="text" value="{{direccion_sucursal}}" disabled />
                        </p>
                    </div>
                    <br>
                    <hr>
                    {{/each}}
                    {{#each lista}}

                    <div class="datos_cliente">
                        <div class="cuadro_nom_cedu">
                            <div class="nom_cliente">
                                <label>Sr (es):</label>
                                <input id="nombre_cliente" name="nombre_cliente" type="text"
                                    value="{{nombre_cliente}} {{apellido_cliente}}" disabled />


                            </div>
                            <div class="nom_cliente">
                                <label>Cedula:</label>
                                <input id="cedula_cliente" name="cedula_cliente" type="text" value="{{cedula_cliente}}"
                                    disabled />
                            </div>
                        </div>
                        <div class="cuadro_nom_cedu">
                            <div class="nom_cliente">
                                <label>Celular:</label>
                                <input id="celular_cliente" name="celular_cliente" type="text"
                                    value="{{celular_cliente}}" disabled />
                            </div>
                            <div class="nom_cliente">
                                <label>Correo:</label>
                                <input id="correo_cliente" name="correo_cliente" type="text" value="{{correo_cliente}}"
                                    disabled>
                            </div>
                        </div>
                        <div class="cuadro_nom_cedu">
                            <div class="nom_cliente">
                                <label>Dirección:</label>
                                <input id="direccion_cliente" name="direccion_cliente" type="text"
                                    value="{{direccion_cliente}}" disabled />
                            </div>
                            {{/each}}
                            <div class="nom_cliente"><label>Fecha emisión:</label>


                                <input type="text" id="fecha-creacion" name="fecha_emision" value="{{fechaActual}}"
                                    readonly>


                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <hr class="linea_cuentas"><br>
                    <div id="div_detalle_factura" style="overflow-x: auto;">
                        <table id="detalle_factura" style="width: 100%;">

                            <thead>
                                <tr>
                                    <th>
                                        <label>CANT.</label>
                                    </th>
                                    <th>
                                        <label>DESCRIPCION</label>
                                    </th>
                                    <th>
                                        <label>P.UNITARIO</label>
                                    </th>
                                    <th>
                                        <label>V.TOTAL</label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="fila_cada_producto" id="fila_cada_producto">
                                    <td><input name="cantidad" type="number" oninput="calcularPrecioTotal()"></td>
                                    <td><input name="descripcion" type="text"></td>
                                    <td><input name="precio_unitario" type="text" oninput="calcularPrecioTotal()">
                                    </td>
                                    <td><input name="precio_total" type="text" readonly></td>
                                </tr>
                            </tbody>

                        </table>
                    </div><br>
                    <br>
                    <hr class="linea_cuentas"><br>
                    {{#each list}}
                    <p> Nº <input type="text" name="numero" id="numero" value="{{maximo}}"> </p>
                    {{/each}}
                    <!-- Na <div class="calculos_formas_pago">
                        <div class="formas_pago">
                            <div class="titulo_pagos">
                                <p>Formas de pago</p>
                            </div>
                            <details>
                                <summary>
                                    <div class="button">Efectivo</div>
                                    <div class="details-modal-overlay"></div>
                                </summary>
                                <div class="details-modal">
                                    <div class="details-modal-close"></div>
                                    <div class="details-modal-title">
                                        <h1> Efectivo</h1>
                                    </div>
                                    <div class="details-modal-content">
                                        <p>Seleccionaste el método de pago: Efectivo</p>
                                    </div>
                                </div>
                            </details>
                            <details>
                                <summary>
                                    <div class="button">Credito</div>
                                    <div class="details-modal-overlay"></div>
                                </summary>
                                <div class="details-modal">
                                    <div class="details-modal-close"></div>
                                    <div class="details-modal-title">
                                        <h1>Tarjeta de Credito</h1>
                                    </div>
                                    <div class="details-modal-content">
                                        <form class="osito_clase">
                                            <br>
                                            <label for="card_number">Número de Tarjeta</label>
                                            <input type="text" id="card_number" name="card_number" class="osito"
                                                placeholder="ingrese"><br>
                                            <br>
                                            <label for="expiry_date">Fecha de Expiración</label>
                                            <input type="text" id="expiry_date" name="expiry_date" class="osito"
                                                placeholder="ingrese"><br>
                                            <br>
                                            <label for="cvv">CVV</label>
                                            <input type="text" id="cvv" name="cvv" class="osito" placeholder="ingrese">
                                            <br><br>
                                            <input type="" class="osito_2">
                                        </form>
                                    </div>
                                </div>
                            </details>
                            <details>
                                <summary>
                                    <div class="button">Débito</div>
                                    <div class="details-modal-overlay"></div>
                                </summary>
                                <div class="details-modal">
                                    <div class="details-modal-close"></div>
                                    <div class="details-modal-title">
                                        <h1>Tarjeta de Débito</h1>
                                    </div>
                                    <div class="details-modal-content">
                                        <form
                                            style="background-color: antiquewhite; border-radius:25px; padding:10px; text-align:center; ">
                                            <br>
                                            <label for="card_number">Número de Tarjeta</label>
                                            <input type="text" id="card_number" name="card_number" class="osito"
                                                placeholder="ingrese"><br>
                                            <br>
                                            <label for="expiry_date">Fecha de Expiración</label>
                                            <input type="text" id="expiry_date" name="expiry_date" class="osito"
                                                placeholder="ingrese"><br>
                                            <br>
                                            <label for="cvv">CVV</label>
                                            <input type="text" id="cvv" name="cvv" class="osito" placeholder="ingrese">
                                            <br><br>
                                            <input type="" class="osito_2">
                                        </form>
                                    </div>
                                </div>
                            </details>
                        </div>
                        -->
                        <div class="calculos">
                            <div class="cuadrosubtotal">
                                <div class="subtotal_texto"><label for="valor_subtotal">Valor subtotal:</label></div>
                                <div class="subtotal"><input type="text" name="valor_subtotal" id="sub_total"
                                        placeholder="Ingrese">
                                </div>
                            </div>
                            <div class="cuadroimpues_0">
                                <div class="subtotal_texto"><label for="impuesto_0">Impuesto 0:</label></div>
                                <div class="subtotal"><input type="text" name="impuesto_0" placeholder="Ingrese"></div>
                            </div>
                            <div class="cuadroimpues_12">
                                <div class="subtotal_texto"><label for="impuesto_12">Impuesto 12:</label></div>
                                <div class="subtotal"> <input type="text" name="impuesto_12" placeholder="Ingrese">
                                </div>
                            </div>
                            <div class="cuadro_dsct">
                                <div class="subtotal_texto"><label for="descuento">Descuento:</label></div>
                                <div class="subtotal"><input type="text" name="descuento" placeholder="Ingrese"
                                        oninput="calcularDescuento()"></div>
                            </div>
                            <div class="cuadro_iva">
                                <div class="subtotal_texto"><label for="valor_iva">Valor iva:</label></div>
                                <div class="subtotal"><input type="text" name="valor_iva" placeholder="Ingrese"></div>
                            </div>
                            <div class="cuadro_valor_total">
                                <div class="subtotal_texto"><label for="valor_total">Valor total:</label></div>
                                <div class="subtotal"><input type="text" name="valor_total" placeholder="Ingrese"></div>
                            </div>
                        </div>
                    </div>
                    <div id="boton">
                        <button type="submit" id="">Guardar</button>
                        <br>
                        <button type="button" id="">Cancelar</button>
                    </div>
                </div>
            </div>
    </div>
    </form>


    <div id="herramientasDiv" class="herramientasDiv">
        <div id="tabla_herramientas" class="tabla_herramientas">
            <h3>Herramientas</h3>
            <hr>
            <div class="cuadroa">
                <div class="agr_fila">Agregar Fila</div>
                <div class="agr_fila"><button class="agregart" id="add-row" type="add-row"
                        onclick="agregarFila()">+</button></div>
            </div>
            <div class="cuadroe">
                <div class="elim_fila">Eliminar Fila</div>
                <div class="elim_fila"><button class="removert" id="remove-row" type="remove-row">-</button></div>
            </div>
        </div>
    </div>
</body>
<script src="/js/detalle_total.js"></script>
<script src="/js/Pdf/pdf.js"></script>