<link rel="stylesheet" href="/css/factura/listar.css">
<script src="/js/Pdf/html2pdf.bundle.min.js"></script>
<button id="btnCrearPdf" type="button">
    <i class="fas fa-file-pdf"></i> Exportar Pdf 
</button>
{{#each list}} 
<form action="/factura/listar.hbs{{id listar}}"></form>
{{#each}}
<div id="texto">
    <p>FACTURA</p>
</div>
<div id="imagen">
    <img src="/img/logo_icon(1).ico" alt="">
</div>
<table id="tabla">
    <body>
        <tr>
             <td>Nombre</td>
             <td>Apellido</td>
             <td>Dirección</td>
             <td>Correo</td>
             <td>Celular</td>
             <td>Cédula</td>
             <td>Fecha de Emisión</td>
             <td>Descripción</td>
             <td>Cantidad</td>
             <td>Precio Unitario</td>
             <td>Precio Total</td>
             <td>Impuesto 12%</td>
             <td>Impuesto 0%</td>
             <td>Descuento</td>
             <td>Valor Subtotal</td>
             <td>Valor IVA</td>
             <td>Valor Total</td>
                        
        </tr>
        <tr>
            {{#each Nombre}}
             <td>
                <p>{{nombre_cliente}}</p>
            </td>
             {{#each Apellido}}
             <td>
                <p>{{apellido_cliente}}</p>
            </td>
            {{#each Dirección}}
             <td>
                <p>{{direccion_cliente}}</p>
            </td>
             {{#each Correo}}
             <td>
                <p>{{correo_cliente}}</p>
            </td>
             {{#each Celular}}
             <td>
                <p>{{celular_cliente}}</p>
            </td>
             {{#each Cédula}}
             <td>
                <p>{{cedula_cliente}}</p>
            </td>
             {{#each FechaEmisión }}
             <td>
                <p>{{fecha_emision}}</p>
            </td>
             {{#each Descripción}}
             <td>
                <p>{{descripcion}}</p>
            </td>
             {{#each Cantidad}}
             <td>
                <p>{{cantidad}}</p>
            </td>
             {{#each PrecioUnitario}}
             <td>
                <p>{{precio_unitario}}</p>
            </td>
             {{#each PrecioTotal}}
             <td>
                <p>{{precio_total}}</p>
            </td>
             {{#each Impuesto}}
             <td>
                <p>{{impuesto_12}}</p>
            </td>
             {{#each Impuesto0}}
             <td>
                <p>{{impuesto_0}}</p>
            </td>
             {{#each Descuento}}
             <td>
                <p>{{descuento}}</p>
            </td>
             {{#each Subtotal}}
             <td>
                <p>{{valor_subtotal}}</p>
            </td>
             {{#each IVA}}
             <td>
                <p>{{valor_iva}}</p>
            </td>
             {{#each Total}}
             <td>
                <p>{{valor_total}}</p>
            </td>
            {{/each}}
       
        </tr>
    </body>
</table>